{% extends 'base.html' %}

{% block content %}

<header>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <div class="links">
        {% for topic in topics %}
            <p><a href="{% url 'topic_detail' slug=topic.slug %}">{{ topic }}</a></p>
        {% endfor %}
        <p><a href="{% url 'favorite_page' %}">Favorites</a></p>
    </div>
</header>



<div class="container">
    {% for favorite in favorited %}
        <br>
        <br>
        <h4><a href="{{ resource.url }}">{{ favorite.resource.title }}</a> by  {{ favorite.resource.author}}</h4>
        {{ favorite.resource.topic }}<br>
        {{ favorite.resource.mediatype }}<br>
        {{ favorite.resource.description }}<br>
    
        <p><a href="{% url 'favorite' res_pk=favorite.resource.pk %}">Favorite</a></p>
        {{ favorite.created_at }}<br>
    {% endfor %}
</div>
{% endblock %}