{% extends 'base.html' %}



{% block content %}

<h3>These Are Resources: </h3>
<div class="container">
    {% for resource in resources %}
        <br>
        {{ resource.title }}<br>
        {{ resource.author}}<br>
        {{ resource.topic }}<br>
        {{ resource.mediatype }}<br>
        {{ resource.description }}<br>
        <a href="{{ resource.url }}">{{ resource.url }}</a><br>

        {% if resource.favorite == False %}
            <button type="submit">Favorite</button><br>
        {% endif %}

        {{ resource.created_at }}<br>
        {{ resource.updated_at }}<br>
    {% endfor %}
</div>
{% endblock %}
