{% extends 'base.html' %}



{% block content %}

<h2>These Are Resources: </h2>
<div class="container">
    {% for resource in resources %}
        <br>
        <h4><a href="{{ resource.url }}">{{ resource.title }}</a> by  {{ resource.author}}</h4>
        {{ resource.topic }}<br>
        {{ resource.mediatype }}<br>
        {{ resource.description }}<br>
        
        <p><a href="{% url 'favorite' res_pk=resource.pk %}">Favorite</a></p>
        {% c %}

        {{ resource.created_at }}<br>
        {{ resource.updated_at }}<br>
    {% endfor %}
</div>
{% endblock %}
