{% extends 'base.html' %}



{% block content %}
<header>
    <div class="linkcont">
            {% for topic in topics %}
                <p class="links"><a href="{% url 'topic_detail' slug=topic.slug %}">{{ topic }}</a></p>
            {% endfor %}
            <p class="links"><a href="{% url 'favorite_page' %}">Favorites</a></p> 
    </div>
    <p class="links"><a href="{% url 'logout' %}">Logout</a></p>
</header>



<h2>Oh the things you can learn... </h2>
<div class="container">
    {% for resource in resources %}
        <div class="resource">
            <h4><a href="{{ resource.url }}">{{ resource.title }}</a> by  {{ resource.author}}</h4>
            <p>{{ resource.topic }} | {{ resource.mediatype }} | Resource Added: {{ resource.created_at }}</p>
            <p>{{ resource.description }}</p>
            <!-- need to make copy of favorite and get directed to topic_detail page -->
            <div>
                <a href="{% url 'favorite' res_pk=resource.pk %}">Favorite</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
