{% extends 'base.html' %}

{% block content %}

<header>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <div class="links">
        {% for topic in topics %}
            <p><a href="{% url 'topic_detail' slug=topic.slug %}">{{ topic }}</a></p>
        {% endfor %}
        <p><a href="{% url 'favorite_page' %}">Favorites</a></p>
    </div>
</header>


<div class="container">
    {% for resource in resources %}
        <br>
        <br>
        <h4><a href="{{ resource.url }}">{{ resource.title }}</a> by  {{ resource.author}}</h4>
        {{ resource.topic }}<br>
        {{ resource.mediatype }}<br>
        {{ resource.description }}<br>
        
        <!-- need to make copy of favorite and get directed to topic_detail page -->
        <p><a href="{% url 'favorite' res_pk=resource.pk %}">Favorite</a></p>
        {{ resource.created_at }}<br>
        {{ resource.updated_at }}<br>
    {% endfor %}
</div>
{% endblock %}