{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><h1>Freeshelf</h1></a>
        <div class="links">
            {% for topic in topics %}
                <p><a href="{% url 'topic_detail' slug=topic.slug %}">{{ topic }}</a></p>
            {% endfor %}
            <p><a href="{% url 'favorite_page' %}">Favorites</a></p>
        </div>
        
    </header>
    
    {% block content %}
    {% endblock %}  
</body>
</html>

